body {
	background-color: mediumseagreen; 
}
/* style sets all pages to mediumseagreen color*/

header h1 {
text-align: center; color: darkblue; background-color: red;
}
/* style sets all h1 inside header element to align text to center and color*/

.active {

background-color: #4CAF50; 
color: white;
/* shows visible representation of user location
on website
- consistent acr*/

}

nav {
	background-color: lightblue;
}

table {
	width: 100%; background-color: #e0e0e0; text-align: center; background-color: darkgreen;
}

td {
	padding: 10px;
}

table a {
	color: brown;
	font-size: 1.5em;
	text-decoration: none;
}

h2 {
	text-align: center;
	color: darkred;
}

p {
	font-family: arial;
	font-size: 16px;
	text-align: center;/* style centers all p elements on all webpages*/
}

 header ul {
text-align: center;/* style centers the unorder list*/
}

schedule {
	text-align: center;
}
div {
	text-align: center;
}
main .meet {
	color: blue;
}
.mtt {
	text-align: center;
}

.mtt h3 {
	color: brown;/* style set meet the traniner names to color brown*/
}